<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003359464789-r4ge46j8n02ddqtg3vuiq1k3bgp3g6jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003359464789-r4ge46j8n02ddqtg3vuiq1k3bgp3g6jq</string>
	<key>API_KEY</key>
	<string>AIzaSyBzky_ruI6Dc9EVcI-TkLSvf95VvmwGpQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1003359464789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gee.cashic</string>
	<key>PROJECT_ID</key>
	<string>cashic-c4a53</string>
	<key>STORAGE_BUCKET</key>
	<string>cashic-c4a53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003359464789:ios:68d65886da1da1d8e353dc</string>
</dict>
</plist>